@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --font-bold: "StudioProBold";
  --font-primary: "StudioProRegular"
  --font-size-h1: clamp(50px, 70/2000 * 100vw, 70px);
  --font-size-h2: clamp(40px, 55/2000 * 100vw, 55px);
  --font-size-h3: clamp(26px, 40/2000 * 100vw, 40px);
  --font-size-h4: clamp(20px, 24/1400 * 100vw, 24px);
  --font-size-h5: clamp(20px, 24/1400 * 100vw, 24px);
  --font-size-h6: clamp(20px, 24/1400 * 100vw, 24px);
}

@font-face {
  font-family: "StudioProBold";
  src: url("/fonts/StudioPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "StudioProRegular";
  src: url("/fonts/StudioPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
